.servicesSection {
    background: #17223c;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1.9rem;
    padding: 9rem 0;
}

.width .titleBg {
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
}

.width .title2 {
    color: white;
}

.serviceList {
    display: flex;
    max-width: 1120px;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 7rem;
}

.btnServices {
    margin-top: 8rem;
    background: #b19777;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 1.5rem;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
    display: inline-block;
    border: transparent 1px solid;
}

.btnServices:hover {
    background: #17223c;
    transform: translateY(-10px);
    border: #b19777 1px solid;
}
