header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: absolute;
    width: 100%;
    z-index: 2;
}

/* Header.css */
header {
    transition: background-color 0.3s ease;
}

header.fixed {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    background-color: #141e33; /* Changez la couleur de fond en rouge */
    z-index: 100000;
}

header .active {
    color: #b19777;
}

a {
    color: inherit;
    text-decoration: none;
}

header .logo {
    background: #141e33;
    width: 27%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img {
    max-width: 200px;
}

::selection {
    background: #b19777;
    color: #fff;
}

header nav {
    display: flex;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    gap: 2rem;
    align-items: center;
    margin-right: 2rem;
}

header nav ul {
    display: flex;
    gap: 2rem;
    letter-spacing: 2px;
}

header .numTel {
    font-size: 15px;
    align-items: center;
    display: flex;
    gap: 1rem;
    border-left: dotted 1px white;
}

header .numTel i {
    background: #b19777;
    width: 25px;
    height: 25px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    margin-left: 1rem;
}

header .numTel a {
    color: white;
    text-decoration: none;
}

header li {
    transition: 0.5s ease;
}

header li:hover {
    color: #b19777;
}
