.aboutSection {
    padding: 0 2rem;
    max-width: 1150px;
    display: flex;
    justify-content: space-between;
    margin: 5.5rem auto 7rem auto;
}

::-webkit-scrollbar {
    width: 8px; /* Largeur de la barre de défilement */
}

::-webkit-scrollbar-thumb {
    background-color: #b19777; /* Couleur de la barre de défilement */
}

.aboutSection div {
    width: 39%;
}

.aboutSection h3,
.aboutSection h4 {
    font-weight: bold;
}

.aboutSection p {
    width: 48%;
    font-weight: 500;
    color: #3e434a;
    font-size: 15px;
    line-height: 1.7;
}

.aboutSection h3 {
    color: #b0b6bc;
    text-transform: uppercase;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

.aboutSection h4 {
    color: #192f49;
    font-size: 2.25rem;
    line-height: 1.5;
}

@media (max-width: 1000px) {
    .aboutSection {
        margin-top: 8rem;
    }
}

@media (max-width: 766px) {
    .aboutSection {
        flex-direction: column;
    }

    .aboutSection p,
    .aboutSection div {
        width: 100%;
    }

    .aboutSection h4 {
        margin-bottom: 2rem;
    }
}
