.contactForm .contactDisplay {
    display: flex;
    width: 100%;
}

.contactDisplay span {
    width: 100%;
    margin: 0.8rem;
}

.contactForm .contactDisplay input {
    padding: 20px;
    margin: 0.5rem;
    border: solid 1px #e8e9ec;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}
